/* start setup */
html {
  font-family: sistem-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: #333;
}
header {
  display: flex;
  place-content: center;
  padding: 1rem 0;
  font-size: 2rem;
}

header > span {
  font-size: 2rem;
}
/* end setup */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 3rem;
}

.grid > div,
.box {
  height: 20px;
  background: gray;
  border: 1px solid orange;
  box-sizing: border-box;
}

/* sizes - just as a reference, as we can't use it inside the media query condition */
:root {
  --xxs: 0px;
  --xs: 360px;
  --sm: 769px;
  --md: 1088px;
  --lg: 1280px;
  --xl: 1376px;
  --xxl: 1664px;
}

@media (min-width: 0px) {
  body {
    background-color: #333;
  }

  .grid > .xxs-1 {
    grid-column: span 1;
  }
  .grid > .xxs-2 {
    grid-column: span 2;
  }
  .grid > .xxs-3 {
    grid-column: span 3;
  }
  .grid > .xxs-4 {
    grid-column: span 4;
  }
  .grid > .xxs-5 {
    grid-column: span 5;
  }
  .grid > .xxs-6 {
    grid-column: span 6;
  }
  .grid > .xxs-7 {
    grid-column: span 7;
  }
  .grid > .xxs-8 {
    grid-column: span 8;
  }
  .grid > .xxs-9 {
    grid-column: span 9;
  }
  .grid > .xxs-10 {
    grid-column: span 10;
  }
  .grid > .xxs-11 {
    grid-column: span 11;
  }
  .grid > .xxs-12 {
    grid-column: span 12;
  }
}

@media (min-width: 360px) {
  body {
    background-color: #333;
  }

  .grid > .xs-1 {
    grid-column: span 1;
  }
  .grid > .xs-2 {
    grid-column: span 2;
  }
  .grid > .xs-3 {
    grid-column: span 3;
  }
  .grid > .xs-4 {
    grid-column: span 4;
  }
  .grid > .xs-5 {
    grid-column: span 5;
  }
  .grid > .xs-6 {
    grid-column: span 6;
  }
  .grid > .xs-7 {
    grid-column: span 7;
  }
  .grid > .xs-8 {
    grid-column: span 8;
  }
  .grid > .xs-9 {
    grid-column: span 9;
  }
  .grid > .xs-10 {
    grid-column: span 10;
  }
  .grid > .xs-11 {
    grid-column: span 11;
  }
  .grid > .xs-12 {
    grid-column: span 12;
  }
}

@media (min-width: 769px) {
  body {
    background-color: #333;
  }

  .grid > .sm-1 {
    grid-column: span 1;
  }
  .grid > .sm-2 {
    grid-column: span 2;
  }
  .grid > .sm-3 {
    grid-column: span 3;
  }
  .grid > .sm-4 {
    grid-column: span 4;
  }
  .grid > .sm-5 {
    grid-column: span 5;
  }
  .grid > .sm-6 {
    grid-column: span 6;
  }
  .grid > .sm-7 {
    grid-column: span 7;
  }
  .grid > .sm-8 {
    grid-column: span 8;
  }
  .grid > .sm-9 {
    grid-column: span 9;
  }
  .grid > .sm-10 {
    grid-column: span 10;
  }
  .grid > .sm-11 {
    grid-column: span 11;
  }
  .grid > .sm-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1088px) {
  body {
    background-color: #333;
  }

  .grid > .md-1 {
    grid-column: span 1;
  }
  .grid > .md-2 {
    grid-column: span 2;
  }
  .grid > .md-3 {
    grid-column: span 3;
  }
  .grid > .md-4 {
    grid-column: span 4;
  }
  .grid > .md-5 {
    grid-column: span 5;
  }
  .grid > .md-6 {
    grid-column: span 6;
  }
  .grid > .md-7 {
    grid-column: span 7;
  }
  .grid > .md-8 {
    grid-column: span 8;
  }
  .grid > .md-9 {
    grid-column: span 9;
  }
  .grid > .md-10 {
    grid-column: span 10;
  }
  .grid > .md-11 {
    grid-column: span 11;
  }
  .grid > .md-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1280px) {
  body {
    background-color: #333;
  }

  .grid > .lg-1 {
    grid-column: span 1;
  }
  .grid > .lg-2 {
    grid-column: span 2;
  }
  .grid > .lg-3 {
    grid-column: span 3;
  }
  .grid > .lg-4 {
    grid-column: span 4;
  }
  .grid > .lg-5 {
    grid-column: span 5;
  }
  .grid > .lg-6 {
    grid-column: span 6;
  }
  .grid > .lg-7 {
    grid-column: span 7;
  }
  .grid > .lg-8 {
    grid-column: span 8;
  }
  .grid > .lg-9 {
    grid-column: span 9;
  }
  .grid > .lg-10 {
    grid-column: span 10;
  }
  .grid > .lg-11 {
    grid-column: span 11;
  }
  .grid > .lg-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1376px) {
  body {
    background-color: #333;
  }

  .grid > .xl-1 {
    grid-column: span 1;
  }
  .grid > .xl-2 {
    grid-column: span 2;
  }
  .grid > .xl-3 {
    grid-column: span 3;
  }
  .grid > .xl-4 {
    grid-column: span 4;
  }
  .grid > .xl-5 {
    grid-column: span 5;
  }
  .grid > .xl-6 {
    grid-column: span 6;
  }
  .grid > .xl-7 {
    grid-column: span 7;
  }
  .grid > .xl-8 {
    grid-column: span 8;
  }
  .grid > .xl-9 {
    grid-column: span 9;
  }
  .grid > .xl-10 {
    grid-column: span 10;
  }
  .grid > .xl-11 {
    grid-column: span 11;
  }
  .grid > .xl-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1664px) {
  body {
    background-color: #333;
  }

  .grid > .xxl-1 {
    grid-column: span 1;
  }
  .grid > .xxl-2 {
    grid-column: span 2;
  }
  .grid > .xxl-3 {
    grid-column: span 3;
  }
  .grid > .xxl-4 {
    grid-column: span 4;
  }
  .grid > .xxl-5 {
    grid-column: span 5;
  }
  .grid > .xxl-6 {
    grid-column: span 6;
  }
  .grid > .xxl-7 {
    grid-column: span 7;
  }
  .grid > .xxl-8 {
    grid-column: span 8;
  }
  .grid > .xxl-9 {
    grid-column: span 9;
  }
  .grid > .xxl-10 {
    grid-column: span 10;
  }
  .grid > .xxl-11 {
    grid-column: span 11;
  }
  .grid > .xxl-12 {
    grid-column: span 12;
  }
}

/* 769px == sm */
@media (max-width: 769px) {
  body {
    background-color: black !important;
  }
  .grid {
    gap: 1rem;
  }
}
